<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <solution>
      <add key="disableSourceControlIntegration" value="True" />
    </solution>  
    <packageRestore>
        <add key="enabled" value="True" />
        <add key="automatic" value="False" />
    </packageRestore>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <!--<add key="ERP10" value="http://nuget.primaverabss.com:82/nuget/ERP10-SR1/" />-->
        <add key="CoreLib" value="http://nuget.primaverabss.com:82/nuget/CoreLib_4.02/" />
        <add key="Hydrogen" value="http://nuget.primaverabss.com:82/nuget/Hydrogen/" />
        <add key="Lithium" value="http://nuget.primaverabss.com:82/nuget/Lithium/" />
        <add key="General" value="http://nuget.primaverabss.com:82/nuget/General/" />
    </packageSources>
    <activePackageSource>
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
    <config>
      <add key="repositoryPath" value="..\packages" />
      <add key="dependencyVersion" value="HighestPatch" />
    </config>
</configuration>
