<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.0.26201" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Imaging" version="15.0.26201" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6071" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.SDK.Analyzers" version="15.8.33" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.SDK.EmbedInteropTypes" version="15.0.10" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Shell.15.0" version="15.0.26201" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="15.0.26201" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6071" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Shell.Interop.10.0" version="10.0.30319" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Shell.Interop.11.0" version="11.0.61030" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Shell.Interop.12.0" version="12.0.30110" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="8.0.50727" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Shell.Interop.9.0" version="9.0.30729" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6070" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50727" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Threading" version="16.4.16" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="15.8.122" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Utilities" version="15.0.26201" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.15" targetFramework="net471" />
  <package id="Microsoft.VSSDK.BuildTools" version="15.8.3252" targetFramework="net471" developmentDependency="true" />
  <package id="Microsoft.Win32.Registry" version="4.5.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net471" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net471" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net471" />
  <package id="VSSDK.DTE" version="7.0.4" targetFramework="net471" />
  <package id="VSSDK.IDE" version="7.0.4" targetFramework="net471" />
  <package id="VSSDK.IDE.10" version="10.0.4" targetFramework="net471" />
  <package id="VSSDK.IDE.8" version="8.0.4" targetFramework="net471" />
  <package id="VSSDK.IDE.9" version="9.0.4" targetFramework="net471" />
  <package id="VSSDK.VSLangProj" version="7.0.4" targetFramework="net471" />
  <package id="VSSDK.VSLangProj.10" version="10.0.4" targetFramework="net471" />
  <package id="VSSDK.VSLangProj.8" version="8.0.4" targetFramework="net471" />
  <package id="VSSDK.VSLangProj.9" version="9.0.4" targetFramework="net471" />
</packages>